body {
    font-family: 'Cuprum', sans-serif;
}

.section-space {
    text-decoration: underline;
    text-decoration-color:#777;
}


.container-fluid {
    border-bottom: solid;
    border-color: #777;
    border-width: thin;
}

.container {
    margin-top: 3%;
}

